body {
	font-family: 'Noto Sans', sans-serif;
    background-image: url('./images/background.jpg');
    
	color: rgb(12, 9, 9);
}

.container {
	position: relative;
}

header.jumbotron {
	background: #C12C1E;
    border-radius: 24px;
    
}

p {
	font-family: 'Space Mono', monospace;
	padding-top: 10px;
    font-size: 18px;
    color: aliceblue

}


h1 {
	font-family: 'Space Mono', monospace;
	font-style: bold;
	font-size: 22px;
	text-align: center;
	position: relative;
	letter-spacing: 8px;
}

h3 {
	font-family: 'Space Mono', monospace;
	color: orange;
	padding-right: 10px;
	padding-bottom: 10px;
}

.comedians {
	background: black;
	border-radius: 12px;
	color: white;
	font-style: Courier New;
	font-size: 15px;
	padding: 10px;
	margin: 5px;
	margin-top: 20px;

}

#comedians-form {
	text-align: right;
}



input#actors-input {
	color: #000;
}

input#add-actors.btn,btn-deafult {
	color: #000;
}
